@(mensagem:String)
@meutemplate("Carros - Cadastrar Carro"){
	@if(mensagem!=""){
	<div class="alert alert-success">
  		@mensagem
	</div>
	}
	<form class="form-horizontal" action="/salvarcarro" method="POST">
		<div class="control-group">
			<label class="control-label" for="marca">Marca</label>
			<div class="controls">
				<input type="text" id="marca" name="marca" placeholder="Marca">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="modelo">Modelo</label>
			<div class="controls">
				<input type="text" id="modelo" name="modelo" placeholder="Modelo">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="cor">Cor</label>
			<div class="controls">
				<input type="text" id="coor" name="cor" placeholder="Cor">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Salvar</button>
			</div>
		</div>
	</form>
}