@(carros:List[Carro])

@meutemplate("Carros - Todos os carros"){
	<table class="table table-striped">
  		<tr>
  			<th>Id</th>
  			<th>Modelo</th>
  			<th>Marca</th>
  			<th></th>
  			<th></th>
  		</tr>
		@for(carro <- carros) {
		<tr>
			<td>@carro.getId()</td>
			<td>@carro.getModelo()</td>
			<td>@carro.getMarca()</td>
			<td>
				<a href="/detalharcarro/@carro.getId()">
					<button class="btn">
						<i class="icon-search"></i> Detalhar
					</button>
				</a>
			</td>
			<td>
				<a href="@routes.CarrosController.excluir(carro.getId())">
					<button class="btn">
						<i class="icon-trash"></i> Exlcuir
					</button>
				</a>
			</td>
		</tr>
		}
	</table>
}